/* style.css */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
}

.all {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 40px;
  color: #1e272e;
}

p {
  color: #666;
}

.input {
  padding: 10px;
  margin-top: 20px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.input:hover {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.input:hover {
  border-color: #5fa9f9;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: #4a69bd;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 16px;
  width: 30;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }
 
 button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
 button:hover span {
  padding-right: 15px;
 }
 
 button:hover span:after {
  opacity: 1;
  right: 0;
 }

.output {
  margin-top: 20px;
  padding: 50px;
  /* background-color: #e9ecef; */
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  text-align: left;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1f23;
  }
  h1 {
    color: #e9e5e5;
  }
  p {
    color: #d4cccc;
  }
  .output {
    border: 1px solid #2b2b2b;
    color: rgb(225, 214, 214);
  }
}
